{% extends "::base.html.twig" %}

{% block title %}CABlogBundle:Session:login{% endblock %}

{% block body %}
<h1>Login page</h1>

{% if error %}
    <div id="connection_error">{{ error.messageKey }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
	<label for="username">Username:</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" />

	<label for="password">Password:</label>
	<input type="password" id="password" name="_password" />

	<input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Remember me</label>

	<button type="submit">login</button>
</form>
{% endblock %}
